<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="{{asset('css/style.css')}}">

        {% block stylesheets %} {% endblock %}

        {% block javascripts %} {% endblock %}
    </head>
    <body>

    <div class="nav">
        <div class="logo">
        <img src="/image/OrdiService.png">
        </div>
        <a href="{{path("ordi")}}">Accueil</a>
        <a href="{{path("catalogue")}}">Catalogue</a>
       

         {% if not app.user %}

        <a href="{{path('connexion')}}">Connexion</a>
         <a href="{{path('inscription')}}">Inscription</a>
         
       {% else %}
          
       <a href="{{path('deconnexion')}}">Deconnexion</a>
       

        {% endif %}
           </div>
              </div>
        


        {% block body %}{% endblock %}
    </body>
</html>
