<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="{{asset('css/style.css')}}">
        <meta name="viewport" content="width=device-width, initial-scale=1" />


        {% block stylesheets %} {% endblock %}

        {% block javascripts %} {% endblock %}
    </head>
    <body>

    <div class="nav">
        <input type="checkbox" id="nav-toggle">
        <div class="logo">
        <img src="/image/OrdiService.png">
        </div>
        <div class="links">
        <a href="{{path("ordi")}}">Accueil</a>
        <a href="{{path("catalogue")}}">Catalogue</a>
      
       

         {% if not app.user %}

        <a href="{{path('connexion')}}">Connexion</a>
         <a href="{{path('inscription')}}">Inscription</a>
        
         
       {% else %}
          
       <a href="{{path('deconnexion')}}">Deconnexion</a>
       
    
       

        {% endif %}
        </div>
         <label for="nav-toggle" class="icon-burger">
       <div class="line"></div>
       <div class="line"></div>
       <div class="line"></div>
      </label>
       
           </div>
        


        {% block body %}{% endblock %}
    </body>
</html>
