{% extends 'base.html.twig' %}

{% block title %}Catalogue{% endblock %}

{% block body %}

<div class="ajouter">
<div class="btn-success"><a href="#"> Ajouter de reparateur </a></div>
</div>
<div class="container">

{% for reparation in reparations %}

<div class="card">
<img src="{{ asset('image/' ~ reparation.image)}}" alt="Person" class="card__image">
<p class="card__name" style="color:#1D1C1C">{{reparation.nom}}</p>

<div class="grid-container">

<div class="grid-child-posts">
<img src="/image/location-pin.png">
</div>

<div class="grid-child-followers" style="color:#FFBE55">
 {{reparation.ville}}
 </div>

 </div>
 
 <div class="card-boy">
<p class="prix" style="color:#F48282"> {{reparation.prix}}€/h</p>
<p class="category" style="color:#F48282">{{reparation.category}}</p>
<p> {{reparation.comment}}</p>
 
 <div class="grid-container">
 <div class="grid-child-posts">
<img src="/image/phone.png">
</div>
<div class="grid-child-followers" style="color:#2A94F4">
<p class="phone"> {{reparation.contact}} </p>
</div>
</div>

<div class="btn-success"><a href="{{path('catalogue_modification', {'id' : reparation.id} )}}"> Modifier </a></div>
<div class="btn-cancel"><a href="#"> Supprimer </a></div>

</div>

</div>
{% endfor %}
</div>


{% endblock %}