{% extends 'base.html.twig' %}

{% block title %}Catalogue{% endblock %}

{% block body %}

 <div class="navbar">

 <input type="checkbox" id="nav-toggle">
  <div class="logo">
  <img src="/image/OrdiService.png">
  </div>
 <div class="links">
  <a href="{{path("ordi")}}">Accueil</a>
  <a href="{{path("catalogue")}}">Catalogue</a>
      
   {% if not app.user %}

      <a href="{{path('connexion')}}">Connexion</a>
 <a href="{{path('inscription')}}">Inscription</a>

        
   {% else %}
   
  <a href="{{path('deconnexion')}}">Deconnexion</a> 
   
    {% endif %}

 </div>
 <label for="nav-toggle" class="icon-burger">
 <div class="line"></div>
 <div class="line"></div>
 <div class="line"></div>
  </label>
       
</div>
        

   <section id="catalogue">

   <div class="titre-catalogue">
   <h1> Choisi ton réparateur</h1>

   </div>

{% if  not app.user %}

  {% else %}
<div class="ajouter">
<div class="btn-success"><a href="{{path('catalogue_creation')}}"> Ajouter de reparateur </a></div>

{% endif %}

</div>


<div class="container">


{% for reparation in reparations %}

<div class="card">
<img src="{{ asset('image/' ~ reparation.image)}}" alt="Person" class="card__image">
<p class="card__name" style="color:#1D1C1C">{{reparation.nom}}</p>

<div class="grid-container">

<div class="grid-child-posts">
<img src="/image/location-pin.png">
</div>

<div class="grid-child-followers" style="color:#FFBE55">
 {{reparation.ville}}
 </div>

 </div>
 
 <div class="card-boy">
<p class="prix" style="color:#F48282"> {{reparation.prix}}€/h</p>
<p class="category" style="color:#F48282">{{reparation.category}}</p>
<p> {{reparation.comment}}</p>
 
 <div class="grid-container">
 <div class="grid-child-posts">
<img src="/image/phone.png">
</div>


{% if not app.user %}

 {% else %}
  
<div class="grid-child-followers" style="color:#2A94F4">
<p class="phone"> {{reparation.contact}} </p>

</div> 
{% endif %}
</div>


 {% if app.user and (app.user is same as(reparation.author) or app.user.id == 12) %}

<div class="btn-success"><a href="{{path('catalogue_modification', {'id' : reparation.id} )}}"> Modifier </a></div>
<form method="POST" action="{{path('catalogue_suppression', {'id': reparation.id})}}">
<input type="submit" class="btn-cancel" value="Supprimer">
<input type="hidden" name="_method" value="delete">
<input type="hidden" name="_token" value="{{csrf_token('SUP' ~ reparation.id)}}">
</form>

{% else %}

{% endif %}
</div>

</div>
{% endfor %}
</div>
</section>

{% endblock %}